<h1>Your Teams</h1>
<div class="collection">
  <% @teams.each do |team| %>
    <div class="collection-item">
      <%= link_to team.name, team_players_path(team) %>
      <div class="delete">
      <%= link_to 'Delete', team_path(team),
                            method: :delete,
                            data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <br><br>
  <a href="<%= new_team_path  %>" class="btn waves-effect waves-light" type="submit" name="action">Add Team
     <i class="material-icons right"></i>
  </a>
<% end %>
