<p>Hello <%= @user.full_name %>,</p>
<p><%= @user.full_name.capitalize %> has just added event to the team calendar <%= @team %>.</p>
<p>Click <%= link_to "here", post_url(@team.event) %> to view.</p>
<p>Regards,</p>
<p>Team Soccer Team</p>
