<div class="parallax-container">
   <div class="parallax"><%= image_tag image_path('image2') %></div>
</div>
<div class="section white">
     <h2 class="header">Soccer Assist</h2>
     <p class="grey-text text-darken-3 lighten-3">Soccer assist is your ideal app for building your team and sharing information with the parents.</p>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag image_path('image2') %></div>
</div>
