<div class="parallax-container">
   <div class="parallax"><%= image_tag image_path('image1') %></div>
</div>
<div class="section white">
      <h2 class="header">Soccer Assist</h2>
      <p class="grey-text text-darken-3 lighten-3">Soccer assist is your ideal app for building your team </p>
      <p class="grey-text text-darken-3 lighten-3">and sharing information with parents.</p>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag image_path('image3') %></div>
</div>
<div class="section white">
     <h2 class="header">Thank you for choosing Soccer Assist</h2>
     <h3 class="grey-text text-darken-3 lighten-3">Created by: Ron Shalevich.</p>
</div>
<div class="parallax-container">
  <div class="parallax"><%= image_tag image_path('image2') %></div>
</div>
