<h1>In player index</h1>
<div class="collection">
  <% @players.each do |player| %>
  <div class="collection-item">
    <%= link_to player.full_name, team_player_path(current_team, player) %>
  </div>
  <% end %>
</div>
