@import "materialize";

@import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


html, body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  min-height: 500px;
  background-color: #2e7d32;

}
nav {
  background: black;
  font-size: 18px;
  padding: 5px;
}

.container-main {
  height: 100%;
  border-left: 3px solid #ef6c00;
  float: left;
}
