@import 'simple_calendar';
@import "materialize";

@import "materialize/components/color";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow") !default;
@import 'materialize';
@import "materialize/extras/nouislider";


html, body {
  margin: 0px;
  height: 100%;
  min-height: 100%;
}

body {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  min-height: 100%;
  color: white;
  background-image: url('background.jpg');
  background-size: cover;
}
nav {
  background: black;
  font-size: 18px;
  padding: 5px;
}

.delete{
  float: right;
  font: red;
}
.parallax-container {
      height: 500px;
      width: 100%;
    }
.brand-logo img {
  height: 59px;
}

.team {
  color: red;
  font-size: 22px;
  background-color: rgba(11, 24, 15, 0.48);
  text-align: center;
}

.tabsnew {
  background-color: black;
  color: white;
  font-size: 30px;
}

a {
  color:white;
}
.collection {
  width: 50%;
  margin: auto;
}

.collection .collection-item {
  background-color: rgba(49, 101, 51, 0.5);
  height: 60px;
  text-align: inherit;
}
.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label{
  color: white;
}
